import click

{% for option in options -%}
{{ option.option }} = [click.option("--{{ option.option | reverse | replace("sdi", "di", 1) | reverse }}",
{%- if option.short_flag %} "{{ option.short_flag }}",{% endif %} "{{ option.option }}",
{%- if option.is_flag %} is_flag=True,{% endif -%}
{%- if option.nargs %} nargs={{ option.nargs }},{% endif -%}
{%- if option.type %} type={{ option.type }},{% endif -%}
{%- if option.multiple %} multiple=True,{% endif -%}
{%- if option.default is defined %} default={{ option.default }},{% endif -%}
{%- if option.metavar is defined %} metavar="{{ option.metavar }}",{% endif -%}
{%- if option.help %} help="{{ option.help }}"{% endif -%}
)]
{% endfor %}

def add_options(options):
    def _add_options(func):
        for option in reversed(options):
            func = option(func)
        return func
    return _add_options


def add_sortfield(options, *args):
    def _add_options(func, *args):
        for option in reversed(options):
            func = option(func)
        return func
    return _add_options

